:root{
    --skyblue-color: rgb(135, 206, 235);
    --fieldgrass-color: rgb(52, 140, 49);
}

*{
    font-family: Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background-color: whitesmoke;
}

header{
    background-color: black;
    height: 45vh;
    width: 100%;
}

.header-banner{
    height: 30vh;
    position: relative;
    width: 100%;
}

.header-banner__sky{
    background-color: var(--skyblue-color);
    height: 20vh;
    max-width: 100%;
}

.header-banner__sky h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 54px;
    padding-left: 1em;
    padding-top: 1.3em;
}

.header-banner__sky h1 > i{
    color: black;
    font-size: 34px;
    left: 850px;
    position: absolute;
    transform: rotate(180deg);
    top: 82px;

    animation: jump 4s ease-in infinite;
    animation-delay: 4s;
}

.header-banner__field{
    background-image: url("Stacked\ Wave3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    max-width: 100%;
}

.header-banner__goal{
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-radius: 5% 5% 0 0;
    bottom: 30px;
    height: 100px;
    right: 150px;
    position: absolute;
    transform: rotate(2deg);
    width: 240px;
}

.header-banner__ball{
    background-color: white;
    border-radius: 50%;
    bottom: 20px;
    height: 70px;
    left: 800px;
    position: absolute;
    width: 70px;
}

.header-banner__dot{
    background-color: white;
    border-radius: 50%;
    bottom: 15px;
    height: 20px;
    left: 820px;
    position: absolute;
    transform: skew(20deg);
    width: 30px;
}

.ball{
    background-color: white;
    border-radius: 50%;
    bottom: 20px;
    font-size: 70px;
    left: 800px;
    position: absolute;

    animation: shoot 6s infinite;
}

.header-nav{
    background-color: var(--fieldgrass-color);
    height: 10vh;
    width: 100%;
}

.nav-menu{
    display: flex;
    list-style-type: none;
    padding-left: 1em;
    padding-top: 1em;
}

.nav-menu__item{
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
    margin-right: 0.1em;
    margin-top: 1em;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    width: 12em;
}  

.nav-menu__item:hover{
    background-color: whitesmoke;
    color: black;
}

hr{
    background-color: black;
    height: 0.2em;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 8em;
}

.section-article{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(178, 219, 255));
    border-left: 6px solid black;
    padding: 1em;
    margin-bottom: 10em;
    width: 60%;
}

.section-article > h1{
    font-size: 44px;
}

.section-article__text{
    float: left;
    width: 60%;
}

.section-article__text > p{
    padding: 1em;
}

.section-article__images{
    float: left;
    width: 40%;
}

.section-article__images img{
    height: auto;
    padding: 0.5;
    width: 70%;
}

@keyframes shoot{
    from{left: 800px; bottom: 20px; font-size: 70px;}
    to{left: 1700px; bottom: 80px; font-size: 30px;}
}

@keyframes jump{
    0%{top: 82px;}
    10%{top: 16px;}
    20%{top: 82px;}
    30%{top: 32px;}
    40%{top: 82px;}
    50%{top: 48px;}
    60%{top: 82px;}
    70%{top: 66px;}
    80%{top: 82px;}
    90%{top: 70px;}
    100%{top: 82px;}
}

