:root{
    --skyblue-color: rgb(135, 206, 235);
    --fieldgrass-color: rgb(52, 140, 49);
}

*{
    font-family: Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background-color: whitesmoke;
}

header{
    background-color: black;
    height: 45vh;
    width: 100%;
}

.header-banner{
    height: 30vh;
    position: relative;
    width: 100%;
}

.header-banner__sky{
    background-color: var(--skyblue-color);
    height: 20vh;
    max-width: 100%;
}

.header-banner__sky h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 54px;
    padding-left: 1em;
    padding-top: 1.3em;
}

.header-banner__sky h1 > i{
    color: black;
    font-size: 34px;
    left: 850px;
    position: absolute;
    transform: rotate(180deg);
    top: 82px;

    animation: jump 4s ease-in infinite;
    animation-delay: 4s;
}

.header-banner__field{
    background-image: url("Stacked\ Wave3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    max-width: 100%;
}

.header-banner__goal{
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-radius: 5% 5% 0 0;
    bottom: 30px;
    height: 100px;
    right: 150px;
    position: absolute;
    transform: rotate(2deg);
    width: 240px;
}

.header-banner__ball{
    background-color: white;
    border-radius: 50%;
    bottom: 20px;
    height: 70px;
    left: 800px;
    position: absolute;
    width: 70px;
}

.header-banner__dot{
    background-color: white;
    border-radius: 50%;
    bottom: 15px;
    height: 20px;
    left: 820px;
    position: absolute;
    transform: skew(20deg);
    width: 30px;
}

.ball{
    background-color: white;
    border-radius: 50%;
    bottom: 20px;
    font-size: 70px;
    left: 800px;
    position: absolute;

    animation: shoot 6s infinite;
}

.header-nav{
    background-color: var(--fieldgrass-color);
    height: 10vh;
    width: 100%;
}

.nav-menu{
    display: flex;
    list-style-type: none;
    padding-left: 1em;
    padding-top: 1em;
}

.nav-menu__item{
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
    margin-right: 0.1em;
    padding: 0.6em;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 10px;
    width: 12em;
}  

.nav-menu__item:hover{
    background-color: whitesmoke;
    color: black;
    animation: nav-top 0.8s;
}

.nav-menu__item:focus{
    background-color: whitesmoke;
    color: black;
    animation: nav-top 0.8s;
}

hr{
    background-color: black;
    height: 0.2em;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 8em;
}

.section-article{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(208, 208, 208));
    border-left: 6px solid black;
    padding: 1em;
    margin-bottom: 10em;
    width: 60%;
}

.section-article:nth-child(2){
    border-left: none;
    border-right: 6px solid black;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(208, 208, 208));
}

.section-article:nth-child(3){
    border-left: none;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(208, 208, 208));
}

.section-article > h1{
    font-size: 44px;
}

.section-article__text{
    float: left;
    width: 60%;
}

.section-article__text > p{
    padding: 1em 7em 1em 1em;
    font-size: 20px;
}

.section-article__images{
    float: left;
    width: 40%;
}

.section-article__images img{
    height: auto;
    padding: 0.5;
    width: 70%;
}

footer{
    background-color: rgb(208, 208, 208);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin-top: 2em;
    max-width: 100%;
}

.contact, .social{
    margin: 3em;
}

.contact h1, .social h1{
    margin-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
}

.contact ul{
    list-style-type: none;
}

.contact li{
    font-size: 20px;
    line-height: 2em;
}

.social ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social a{
    color: black;
    padding: 2em;
    text-decoration: none;
}

.social li:first-child a:hover{
    color: rgb(66, 103, 178);
}

.social li:nth-child(2) a:hover{
    animation: gradient 4s infinite;
}   

.social li:nth-child(3) a:hover{
    animation: opacity 2s infinite;
}

@keyframes shoot{
    from{left: 800px; bottom: 20px; font-size: 70px;}
    to{left: 1700px; bottom: 80px; font-size: 30px;}
}

@keyframes jump{
    0%{top: 82px;}
    10%{top: 16px;}
    20%{top: 82px;}
    30%{top: 32px;}
    40%{top: 82px;}
    50%{top: 48px;}
    60%{top: 82px;}
    70%{top: 66px;}
    80%{top: 82px;}
    90%{top: 70px;}
    100%{top: 82px;}
}

@keyframes nav-top{
    0%{top: 10px;}
    100%{top: 0px;}
}

@keyframes gradient{
    0% {color: #8a3ab9;}
    10% {color: #e95950;}
    20% {color: #bc2a8d;}
    30% {color: #fccc63;}
    40% {color: #fbad50;}
    50% {color: #cd486b;}
    60% {color: #4c68d7;}
    70% {color: #cd486b;}    
    80% {color: #fccc63;}
    90% {color: #e95950;}
    100% {color: #8a3ab9;}
}

@keyframes opacity{
    0% {opacity: 1;}
    50% {opacity: 0.4;}
    100% {opacity: 1;}
}